@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&family=Quattrocento:wght@400;700&display=swap');

h1{
    font-family: 'Quattrocento', serif;
}
.nonPrint{
    
    background-color: #E6E6E6;
}
@media print{
    @page{
        size: A4;
        margin: 5px;
    }
    .nonPrint{
        display: none;
    }
    .printThis{
        display: block;
        text-align: center;
        width: 100%;
    }

}